services:
  database:
    image: postgres:16.4
    ports: ["5432:5432"]
    env_file: [.env.docker]
    networks: [postgres-network]
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:8.9
    ports: ["5433:80"]
    env_file: [.env.docker]
    depends_on: [database]
    networks: [postgres-network]
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  broker:
    image: apache/kafka:3.7.0
    container_name: broker
    ports: ["9092:9092"]
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_LOG_DIRS: /var/lib/kafka/data
    networks: [postgres-network]
    volumes:
      - kafka_data:/var/lib/kafka/data

networks:
  postgres-network:
    driver: bridge

volumes:
  postgres_data:
  pgadmin_data:
  kafka_data:
